/** @format */

.card {
  position: relative;
  width: 489px;
  height: 498px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 44px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
}

.card img {
  width: 475px;
  height: 274px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
}

.card-title {
  position: absolute;
  width: 441px;
  height: 59px;
  left: 24px;
  top: 271px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  color: #000509;
}

.card-subtitle {
  position: absolute;
  left: 24px;
  top: 335px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #666;
}

.card-info {
  display: flex;
  flex-direction: row;
  gap: 7px;
  position: absolute;
  left: 24px;
  top: 370px;
}

.card-info span {
  display: flex;
  align-items: center;
  padding: 3px 11px 3px 6px;
  gap: 4px;
  background: #000509;
  border-radius: 15px;
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.card-info span img {
  width: 20px;
  height: 20px;
}

.card-price {
  position: absolute;
  left: 24px;
  top: 425px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 158%;
  color: #000509;
}
