/**
 * src/components/Footer.css
 *
 * @format
 */

.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.footer-sections {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  padding: 10px;
  min-width: 150px;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}

.footer-section ul li {
  font-size: 14px;
  cursor: pointer;
}

.footer-section ul li:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #444;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e50914;
}

.footer-bottom-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.footer-bottom-info span {
  margin: 5px 0;
}

.footer-bottom-info span a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom-info span a:hover {
  text-decoration: underline;
}
